/* ROOMS */
.room-container {
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 4%;
    overflow: hidden;
}

/* Search Bar */
.room-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closemodal {
    cursor: pointer;
}

.room-table {
    border-collapse: separate;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.room-table table th,
table td {
    padding: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.remove-btn {
    background: #CF2424;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.room-list {
    height: auto;
}

#addScheduleModal {
    display: none;
}
