


<section id="account" class="hidden">
    <div class="topcontainer">
        <h2>Account</h2>
        <div class="profile-container">
            
        </div>
    </div>

    <form class="acct_settingform">
        <h2 style="color:#06346F">Account Details</h2>

        <hr>
        
        <p style="color:#06346F"><strong>Username</strong></p>
        <div class="profile-container">
            <p class="profileName">Unknown Username</p>
        </div>

        <div class="editProfile">
            <img src="assets/images/RedN.jpg" alt="Profile Picture" class="editProfilePic">
        </div>
        <button class="editProfile-btn"> Edit Profile</button>

        <p style="color:#06346F"><strong>Email Address</strong></p>
        <p class="emailAddress">Unknown Email Address</p>

        <h2>Password</h2>
        <hr>

        <div class="password-container">
            <div class="password-field">
                <label for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" name="oldPassword" required>
            </div>

            <div class="password-field">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>

            <div class="password-field">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
        </div>

        <button type="submit" style="
            display: block;
            width: 30%;
            padding: 10px;
            margin-left: 35%;
            margin-top: 15px;
            background-color: #3A9155;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;">
            Confirm
        </button>
    </form>
</section>        