


<section id="ongoing_schedule" class="hidden">
	<div class="schedule-content">
		<!-- Floating Search Bar -->
		<div class="search-container">
			<i class="fa fa-search"></i>
			<input
				type="text"
				id="searchInput"
				placeholder="Search here..."
				onkeyup="searchTable()" />
		</div>

		<div class="room-table-container">
			<h2>CITE</h2>
            <div class="table-wrapper-schedule">
                <table class="room-sched">
                    <tr>
                        <th>Room Bldg.</th>
                        <th>Room Number</th>
                        <th>Date and Time</th>
                        <th>Block</th>
                        <th>Action</th>
                    </tr>
                    <tbody class="table-data">
    
                    </tbody>
                </table>
            </div>
		</div>
	</div>

</section>

