<section id="ongoing_schedule" class="hidden">
    <div class="topcontainer">
        <h2 style="margin-left: 15px;"> On-going Schedule</h2>
        <div class="profile-container">
            <img src="pic/redN.jpg" alt="Profile" class="profile-img">
        <div class="profile-texts">
            <h3 class="profileName">John Doe</h3>
            <p class="profileRole">Administrator</p>
        </div>
        </div>
    </div>

    <h1 style="text-align: center;">Enter Code here</h1>

</section>