
<section id="pending_request" class="hidden">

    <div class="pending_request-table">
        <table>
            <thead>
                <tr>
                    <th>Teacher</th>
                    <th>Date</th>
                    <th>Starting time</th>
                    <th>Ending time</th>
                    <th>Purpose</th>    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="pendingtableBody" class="table-data">
                <!-- Table Container -->
            </tbody>
        </table>
    </div>
</section>