


<section id="pending_request" class="hidden">
    <div class="topcontainer">
        <h2>Pending Request</h2>
        <div class="profile-container">
  
        </div>
    </div>

    <div class="pending_request-table">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Starting time</th>
                    <th>Ending time</th>
                    <th>Purpose</th>    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="pendingtableBody">

                <!-- Table Container -->
                
            </tbody>
        </table>
    </div>
</section>