<section id="pending_request" class="hidden">
    <div class="topcontainer">
        <h2 style="margin-left: 15px;">Pending Request</h2>
        <div class="profile-container">
            <img src="pic/default-profile.jpg" alt="Profile" class="profile-img" id="profileImg">
            <div class="profile-texts">
                <h3 class="profileName"></h3>
                <p class="profileRole"></p>
            </div>
        </div>
    </div>

    <div class="pending_request-table">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Starting time</th>
                    <th>Ending time</th>
                    <th>Purpose</th>    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="pendingtableBody">
                <!-- Dynamic content will be inserted here -->
            </tbody>
        </table>
    </div>
</section>