


<div class="profile-container">
    <img src="" alt="pic" class="profilePic" id="profileImg">
    <div class="profile-texts">
        <h3 class="profileName">Empty Name</h3>
        <p class="profileRole">Empty Role</p>
    </div>
</div>

<div class="profile-container-mobile">
    <img src="" alt="pic" class="profilePic-mobile" id="profileImg">
    <div class="profile-texts">
        <h3 class="profileName-mobile">Empty Name</h3>
        <p class="profileRole-mobile">Empty Role</p>
    </div>
</div>
