


<section id="request_history" class="hidden">
    <div class="topcontainer">
        <h2>Request History</h2>
        <div class="profile-container">
    
        </div>
    </div>
    <div class="table-wrapper">
        <table id="request-history-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Room Building</th>
                    <th>Room Number</th>
                    <th>Block</th>
                    <th>Date</th>
                    <th>Starting Time</th>
                    <th>Ending Time</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="history-rows" class="table-data">
                <!-- Table Container -->
            </tbody>
        </table>
    </div>
</section>