<section id="room" class="hidden">
    <div class="topcontainer">
        <h2>Room Details</h2>
        <div class="profile-container">
        

        </div>
    </div>

    <div class="room-container">

        <div class="room-list">
            <div class="room-header">
                <select class="filter">
                    <option value="all">All</option>
                    <option value="Available">Available</option>
                    <option value="Occupied">Occupied</option>
                    <option value="Closed">Closed</option>
                </select>
                <div class="search-container">
                    <img src="../roomfinder_website/assets/images/web-svg-icons/search-icon.svg" alt="">
                    <input type="text" class="search-bar" placeholder="Search here..." id="roomSearch">
                </div>
            </div>
    
            <div class="table-wrapper">
                <table  class="room-sched">
                    <thead>
                        <tr>
                            <th>Room Building</th>
                            <th>Room Number</th>
                            <th>Ongoing Schedule</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="roomListBody" class="table-data">
                       
                        
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Add Room and Schedule Button -->
        <button class="floating-btn" onclick="openAddRoomModal()">+</button>

        <!-- Add Room Modal -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="closemodal">&times;</span>

                <form action="#" method="POST" class="roomdetails_form">
                    <div>
                        <h2>Room Details</h2>
                    </div>

                    <div class="roomform_container">
                  
                        <div class="form-group">
                            <label>Room Number</label>
                            <input type="number" name="roomNumber" min="1" placeholder="" /><br />
                        </div>

                        
                        <div class="form-group">
                            <label>Room Building</label>
                            <select name="roomBuilding">
                                <option value="PTC">PTC</option>
                                <option value="ITS">ITS</option>
                            </select><br />
                        </div>

                     
                        <div class="form-group">
                            <label>Capacity</label>
                            <input type="number" name="capacity" min="1" required><br />
                        </div>

                  
                        <div class="form-group">
                            <label>Room Type</label>
                            <select name="roomType">
                                <option value="Lecture Room">Lecture Room</option>
                                <option value="Laboratory Room">Laboratory Room</option>
                            </select><br />
                        </div>

                     
                        <div class="form-group">
                            <label>Availability</label>
                            <select name="availability">
                                <option value="Available">Available</option>
                                <option value="Closed">Closed</option>
                            </select><br />
                        </div>

         
                        <div class="form-group">
                            <label>Equipment</label>
                            <div class="equipment">
                                <label><input type="checkbox" value="Air Conditioner"> Air Conditioner</label><br/>
                                <label><input type="checkbox" value="Monitor"> Monitor</label><br/>
                                <label><input type="checkbox" value="Computer"> Computer</label><br/>
                                <label><input type="checkbox" value="Whiteboard"> Whiteboard</label><br/>
                                <label><input type="checkbox" value="Wi-Fi"> Wi-Fi</label><br/>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h2>Add Schedules</h2>
                    </div>

                    <div class="roomform_container">
                   

                        <div class="form-group">
                            <label>Block:</label>
                            <select name="block">
                                <option value="A">1</option>
                                <option value="B">2</option>
                                <option value="C">3</option>
                                <option value="D">4</option>
                                <option value="E">5</option>
                                <option value="F">6</option>
                                <option value="F">7</option>
                                <option value="F">8</option>
                                <option value="F">9</option>
                                <option value="F">10</option>
                            </select><br />
                        </div>

                  
                        <div class="form-group">
                            <label>Date</label><br />
                            <input type="date" name="date" ><br />
                        </div>

                    
                        <div class="form-group">
                            <label>Time</label>
                            <div class="form-group-horizontal">
                                <div class="time">
                                    <label>Starting Time</label><br />
                                    <input type="time" name="timeStart" >
                                </div>

                                <div class="time">
                                    <label>Ending Time</label><br />
                                    <input type="time" name="timeEnd" >
                                </div>
                            </div>
                        </div>

                        <!-- Submit buttons -->
                        <button type="button" class="addanotherbtn">+</button> Add another<br />
                        <button type="submit" class="createbtn">Create</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Edit Room Modal -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="closemodal">&times;</span>

                <form action="#" method="POST" class="roomdetails_form">
                    <div>
                        <h1>EDIT ROOM</h1>
                        <h2>Room Details</h2>
                    </div>

                    <div class="roomform_container">
                        <!-- Room Number Edit -->
                        <div class="form-group">
                            <label>Room Number</label>
                            <select name="roomNumber" id="editRoomNumberSelect">
                    
                            </select><br />
                        </div>

                        <!-- Room Building Edit -->
                        <div class="form-group">
                            <label>Room Building</label>
                            <select name="roomBuilding" id="editRoomBuildingSelect">
                              
                            </select><br />
                        </div>

                      
                        <div class="form-group">
                            <label>Capacity</label>
                            <input type="number" name="capacity" min="1" max="60" required><br />
                        </div>

                        <!-- Room Type -->
                        <div class="form-group">
                            <label>Room Type</label>
                            <select name="roomType" id="editRoomTypeSelect">
                  
                            </select><br />
                        </div>

                        <!-- Status -->
                        <div class="form-group">
                            <label>Status</label>
                            <select name="availability" id="editAvailabilitySelect">
                                <option value="Available">Available</option>
                                <option value="Closed">Closed</option>
                            </select><br />
                        </div>

                        <!-- Equipment -->
                        <div class="form-group">
                            <label>Equipment</label>
                            <div class="equipment">
                        
                            </div>
                        </div>
                    </div>

                    <div>
                        <h2>Add Schedules</h2>
                    </div>

                    <div class="roomform_container">
                        <!-- Block -->
                        <div class="form-group">
                            <label>Block:</label>
                            <select name="block" id="editBlockSelect">
                         
                            </select><br />
                        </div>

                        <!-- Date -->
                        <div class="form-group">
                            <label>Date</label><br />
                            <input type="date" name="date" id="editDate" required><br />
                        </div>

                        <!-- Time -->
                        <div class="form-group">
                            <label>Time</label>
                            <div class="form-group-horizontal">
                                <div class="time">
                                    <label>Start time</label><br />
                                    <input type="time" name="timeStart" id="editTimeStart" required>
                                </div>

                                <div class="time">
                                    <label>End time</label><br />
                                    <input type="time" name="timeEnd" id="editTimeEnd" required>
                                </div>
                            </div>
                        </div>

                        <!-- Submit buttons -->
                        <button type="button" class="addanotherbtn">+</button> Add another<br />
                        <button type="submit" class="updatebtn">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
