<section id="room_schedule" class="hidden">
    <div class="topcontainer">
        <h2 style="margin-left: 15px;"> Room Schedules</h2>
        <div class="profile-container"></div>
    </div>

    <div class="content">
        <div class="room-details">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th class="room-building-header">Room Building</th>
                            <th class="room-number-header">Room Number</th>
                            <th class="date-header">Date</th>
                            <th class="starting-time-header">Starting Time</th>
                            <th class="ending-time-header">Ending Time</th>
                            <th class="action-header">Action</th>
                        </tr>
                    </thead>
                    <tbody id="room-schedules-tbody">
                        <!-- Room schedules -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="floating-btn" onclick="openAddRoomForm()">+</div>
</section>
