

<section id="userslist" class="hidden">
    <div class="topcontainer">
        <h2 style="margin-left: 15px;"> Authenticated Users List</h2>
        <div class="profile-container">
        </div>
    </div>

    <div class="container">
        <div class="header">
            <select class="filter">
                <option value="all">All</option>
                <option value="teacher">Teacher</option>
                <option value="staff">Staff</option>
                <option value="admin">Admin</option>
            </select>
            <input type="text" class="search-bar" placeholder="Search here ...">
        </div>

        <div class="userlisttable">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Teacher ID</th>
                        <th>Remove Account</th>
                    </tr>
                </thead>
                <tbody id="userListBody">
                    
                    <!-- Table Container -->

                </tbody>
            </table>
        </div>
    </div>
</section>
